<app-toolbar></app-toolbar>
<br />
<mat-card>
<mat-card-title>Add Link</mat-card-title>
<form class="form-container"
 fxLayout="column"
 fxLayoutAlign="center center"
 >
<mat-form-field >
<input matInput placeholder="Title" name="title" #newtitle />
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Add link" name="link" #newlink/>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addArticle(newtitle, newlink)">Add </button>
</form>
</mat-card>
<app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>

